In [3]:
books  = ["tales of two cities" , "Harry Pott", "Lord of the Rings"]
nums = range(100)
for b in books:
    print(b)

tales of two cities
Harry Pott
Lord of the Rings

In [5]:
books

['tales of two cities', 'Harry Pott', 'Lord of the Rings']

In [8]:
nums = range(100)
nums
list (nums)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [11]:
for n in nums:
    if: x = 111:
            x < n
            print "this is wrong"
    else: print "try different no"

SyntaxError: invalid syntax (<ipython-input-11-2e2ae046d330>, line 2)

In [14]:
def isEven (n):
    return n % 2 == 0
isEven (8)

True

In [17]:
for n in nums:
    print (isEven(n))
    if isEven(n):
        print(n)

True
0
False
True
2
False
True
4
False
True
6
False
True
8
False
True
10
False
True
12
False
True
14
False
True
16
False
True
18
False
True
20
False
True
22
False
True
24
False
True
26
False
True
28
False
True
30
False
True
32
False
True
34
False
True
36
False
True
38
False
True
40
False
True
42
False
True
44
False
True
46
False
True
48
False
True
50
False
True
52
False
True
54
False
True
56
False
True
58
False
True
60
False
True
62
False
True
64
False
True
66
False
True
68
False
True
70
False
True
72
False
True
74
False
True
76
False
True
78
False
True
80
False
True
82
False
True
84
False
True
86
False
True
88
False
True
90
False
True
92
False
True
94
False
True
96
False
True
98
False

In [18]:
for n in nums:
       if isEven(n):
        print(n)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98